body {
  box-sizing: border-box;
  margin: auto;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.header-section {
  height: 100vh;
}

.header-nav {
  height: 7vh;
  color: #6070ff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav > a {
  margin-left: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #6070ff;
  text-decoration-color: none;
  font-size: 22px;
}

.bar-line {
  width: 30px;
  height: 3px;
  background: #6070ff;
  margin: 4px;
}

.bar {
  margin-right: 30px;
}

.header-herosection {
  color: #172b4d;
  background-image: url("/images/header-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 88vh;
  width: 100vw;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.header-herosection > h1 {
  padding-top: 100px;
  font-weight: bold;
  font-size: 45px;
  padding-left: 15px;
  padding-right: 15px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.header-herosection > p {
  color: #344563;
  padding: 20px 20px 20px 20px;
  font-size: large;
  margin-block-start: 0;
  margin-block-end: 0;
}

.header-herosection > h3 {
  color: #7f8cff;
  padding-left: 20px;
}

.social-media {
  display: flex;
  padding-left: 20px;
}

.social-media > li {
  text-decoration: none;
  list-style-type: none;
}

.social-media-spacer {
  margin-left: 20px;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 2px;
  padding-left: 14px;
  width: 300px;
  border: 2px solid#DFE1E6;
  border-radius: 10px;
  padding-bottom: 15px;
}

.image-wrapper {
  display: flex;
  justify-content: center;
}

.image-wrapper > img {
  width: 280px;
  border-radius: 8px;
  align-content: center;
  margin-top: 16px;
}

.grid-container {
  margin-top: 150px;
  display: grid;
  grid-template-columns: 1fr;
  margin-left: 15px;
  row-gap: 70px;
}

.grid-item > h2 {
  font-weight: bold;
  font-size: x-large;
  color: #172b4d;
}

.work-details {
  display: flex;
  color: #7a869a;
  align-items: center;
  font-size: medium;
  font-weight: bolder;
}

.first-detail {
  color: #344563;
  font-weight: bold;
}

.spacer {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #7a869a;
}

.margin-spacer {
  margin-left: 10px;
}

.grid-item > p {
  color: #344563;
  font-size: 16px;
  font-weight: 600;
  padding: 5px;
}

.grid-item > ul {
  display: flex;
  list-style: none;
  justify-self: flex-start;
  padding-inline-start: 10px;
}

.grid-item > ul > li {
  background-color: #ebebff;
  padding: 5px 5px 4px 4px;
  font-size: 20px;
  color: #6070ff;
  border-radius: 5px;
}

button {
  border: 1px solid#6070ff;
  font-size: 20px;
  color: #6070ff;
  padding: 8px;
  border-radius: 12px;
  background-color: white;
  width: 200px;
  font-weight: bold;
}

button:disabled {
  border: 2px solid #5e6c84;
  color: #5e6c84;
  background-color: white;
}

button:hover {
  border: 2px solid #5e6c84;
  background-color: #6070ff;
  opacity: 80%;
  color: white;
}

button:active {
  background-color: #22302d;
  color: fff;
}

.about-myself {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  margin-left: 20px;
  margin-right: 20px;
}

.about-myself > h3 {
  color: #7f8cff;
  padding-left: 20px;
}

.about-myself > h2 {
  color: #172b4d;
  font-size: x-large;
}

.about-myself > p {
  color: #344563;
  font-size: 14px;
  font-weight: 500;
  padding: 5px;
  margin-block-start: 0;
  margin-block-end: 0;
  font-style: normal;
}

.about-myself > {
  font-weight: bold;
  font-size: x-large;
  color: #172b4d;
  width: 100vw;
}

.languages-subsection {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 20px;
  padding-inline-start: 0;
}

.sub-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
}

.sub-header > img {
  width: 30px;
  height: 30px;
}

.sub-header > h2 {
  font-size: 16px;
}

.lang-planner {
  display: flex;
  background: #f7f7f9;
  margin-left: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.lang-planner > img {
  padding-right: 20px;
}

.frameworks-subsection {
  padding-inline-start: 0;
}

.skills-subsection {
  padding-inline-start: 0;
}

.contact-form-section {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('images/contact-form-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-form-section > h3 {
  margin-top: 120px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #FFFFFF;
  margin-block-end: 0;
}

.contact-form-section > p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  padding-left: 20px;
  padding-right: 20px;
}

.form-section {
  width: 85vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  width: 85vw;
  margin-bottom: 10px;
  /* border: solid gold; */
}

input {
  width: 85vw;
  padding-top: 14px;
  padding-bottom: 14px;
  background: #FFFFFF;
  border: 1px solid #CFD8DC;
  border-radius: 8px;
  /* border: solid gold; */
}

input::placeholder {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #172B4D;
}

textarea {
  width: 85vw;
  padding-top: 14px;
  padding-bottom: 14px;
  background: #FFFFFF;
  border: 1px solid #CFD8DC;
  border-radius: 8px;
  }

textarea::placeholder {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #B3BAC5;
  padding-left: 10px;
}

.form-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  color:#6070FF;
  align-self: flex-start;
  margin-top: 12px;
  margin-bottom: 60px;
  background-color: white;
}
