body {
  box-sizing: border-box;
  margin: auto;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.header-section {
  height: 100vh;
}

.header-nav {
  height: 7vh;
  color: #6070ff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav > a {
  margin-left: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #6070ff;
  text-decoration-color: none;
  font-size: 22px;
}

.bar-line {
  width: 30px;
  height: 3px;
  background: #6070ff;
  margin: 4px;
}

.bar {
  margin-right: 30px;
}

.header-herosection {
  color: #172b4d;
  background-image: url("/images/header-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 88vh;
  width: 100vw;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.header-herosection > h1 {
  padding-top: 100px;
  font-weight: bold;
  font-size: 45px;
  padding-left: 15px;
  padding-right: 15px;
}

.header-herosection > p {
  color: #344563;
  padding: 20px 20px 20px 20px;
  font-size: large;
}

.header-herosection > h3 {
  color: #7f8cff;
  padding-left: 20px;
}

.social-media {
  display: flex;
  padding-left: 20px;
}

.social-media > li {
  text-decoration: none;
  list-style-type: none;
}

.social-media-spacer {
  margin-left: 20px;
}

.grid-item {
  display: block;
  box-shadow: 2px;
  padding: 5px;
  width: 300px;
  border: 2px solid#DFE1E6;
  border-radius: 10px;
}

.image-wrapper {
  display: flex;
  justify-content: center;
}

.image-wrapper > img {
  width: 250px;
  border-radius: 30px;
  align-content: center;
}

.grid-container {
  margin-top: 200px;
  display: grid;
  grid-template-columns: 1fr;
  margin-left: 15px;
  row-gap: 70px;
}

.grid-item > h2 {
  font-weight: bold;
  font-size: x-large;
  color: #172b4d;
}

.work-details {
  display: flex;
  color: #7a869a;
  align-items: center;
  font-size: medium;
  font-weight: bolder;
}

.first-detail {
  color: #344563;
  font-weight: bold;
}

.spacer {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #7a869a;
}

.margin-spacer {
  margin-left: 10px;
}

.grid-item > p {
  color: #344563;
  font-size: 16px;
  font-weight: 600;
  padding: 5px;
}

.grid-item > ul {
  display: flex;
  list-style: none;
  justify-self: flex-start;
  padding-inline-start: 10px;
}

.grid-item > ul > li {
  background-color: #ebebff;
  padding: 5px 5px 4px 4px;
  font-size: 20px;
  color: #6070ff;
  border-radius: 5px;
}

button {
  border: 2px solid#6070ff;
  font-size: 20px;
  color: #6070ff;
  padding: 8px;
  border-radius: 15px;
  background-color: white;
}

button :disabled {
  border: 2px solid #5e6c84;
  color: #5e6c84;
}

button :hover {
  border: 2px solid #5e6c84;
  background-color: #6070ff;
  opacity: 80%;
  color: white;
}

.about-myself {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  margin-left: 20px;
  margin-right: 20px;
}

.about-myself > h3 {
  color: #7f8cff;
  padding-left: 20px;
}

.about-myself > p {
  color: #344563;
  font-size: 16px;
  font-weight: 600;
  padding: 5px;
}

.about-myself > {
  font-weight: bold;
  font-size: x-large;
  color: #172b4d;
  width: 100vw;
}

.languages-subsection {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 20px;
}

.sub-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
}

.sub-header > img {
  width: 30px;
  height: 30px;
}

.lang-planner {
  display: flex;
  background: #f7f7f9;
  margin: 10px;
}

.lang-planner > img {
  padding-right: 20px;
}

.sub-header > h2 {
  font-size: 24px;
}
