body{
  box-sizing: border-box;
  margin:auto;
  background:white;
  padding:0;
  font-family: 'Poppins', sans-serif;
}

@media (min-width:375px){
  body{
    box-sizing: border-box;
    margin:auto;
    background:white;
    padding:0;
  }
  .header-section{
    height:100vh;


  }
  .header-nav{
    height:7vh;
    color:#6070FF;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-nav > h1{
    font-size: xx-large;
    margin-left: 30px;
    font-weight: bold;

  }


  .bar-line{
    width: 50px;
    height: 4px;
    background:#6070FF;
    margin: 4px;
    

  }
  .bar{
    margin-right: 30px;
    
  }
  .header-herosection{
    color: #172B4D;
    background-image: url("/images/header-background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 88vh;
    width:100vw;
    background-color: white;

  }
  
  .header-herosection > h2{
    padding-top:100px ;
    font-weight: bold;
    font-size:45px;
    padding-left: 15px;
    padding-right: 15px;
  
  }
  .header-herosection > p{
    color:#344563;
    padding: 20px;
    font-size: large;
  }
  .header-herosection>h3{
    color:#7F8CFF;
    padding-left: 20px;


  }
  .social-media{
    display: flex;
    padding-left: 20px;
    
  }
  .social-media > img {
      margin-left: 10px;
      
  }

  

  

}